<h1>This is the home page</h1>

<ul>
  <li>
    <%= link_to "about page", about_path %>
  </li>
  <li>
    <%= link_to "garantia", garantia_path %>
  </li>
  <li>
    <%= link_to "Aviso de privacidad", aviso_de_privacidad_path %>
  </li>
  <li></li>
  <li></li>
</ul>



